.contact_bacground {
    background: linear-gradient(rgba(37, 37, 37, 0.836), rgba(48, 48, 48, 0.863)), url(../image//Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\).jpg);
    margin: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.contact_menu img {
    height: 100%;
}

.contact_content {
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   
}

.contact_content img {
    padding: 5%;
    width: 100%;
}

.contact_text {
    padding: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
 
}
.contact_text h1 {
    color: orange;
    
    margin: 5px;
    font-weight: bolder;
}

.contact_text p {
    color: rgb(255, 255, 255);
 
    margin: 5px;
}



.contact_text button {
    border: none;
    color: rgb(29, 29, 29);
    width: 90px;
    margin: 5px;
    background-color: orange;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}
.contact_text button:hover {
    color: rgb(255, 255, 255);
 transform: scale(1.1);
 text-shadow: black 0 0 2;
  
}
#contact_info1
{
 display: block; 

}
#contact_info2  div h3
{  font-size: 14px;
    margin: 0;
color:white;
text-align: start;
 
}
#contact_info2 img
{
width: 100%;
}
#contact_info2 div h2
{   font-size: 16px;
    margin: 0;
   color: orange;
   height: 100%;
}
#contact_info2  h4
{text-align: center;
    color: white;
    font-size: 25px;
    margin: 0;
}
#contact_info2
{ 
    display: none;
   width: 100vw;
    
     
}

#contact_info2 div
{ padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
#clicks
{
    display: none;
}